{% extends 'layout_shop.html' %} {% block body %}

<div class="containerf">

  <div class="item">
    <div class="card" style="width: 18rem">


      <div class="card-body">
        <p class="card-text">اسم:{{basketitem.product.product_name}}</p>
        <p class="card-text">ایمیل کاربر:{{basketitem.basket.customer.email}}</p>
        <p class="card-text">قیمت:{{basketitem.product.price_per_unit}}</p>
        <p class="card-text">تعداد:{{basketitem.product_count}}</p>
      </div>

    </div>
  </div>

</div>

{% endblock body %}
