{% extends 'layout_shop.html' %} {% block body %}

<div class="containerf">
  
  <div class="item">
    <div class="card" style="width: 18rem">
      <img
        src="{{shop.image.url}}"
        class="card-img-top img-fluid rounded"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">{{shop.shop_name}}</p>
      </div>
      <a href="{% url 'update_shop' shop.pk %}">
        <input type="button" value="بروزرسانی" />
      </a>
      <a href="{% url 'delete_shop' shop.pk %}">
        <input type="button" value="حذف" />
      </a>
    </div>
  </div>
</div>

{% endblock body %}
